.footer {
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary);
	width: 100%;
}

.footer__newsletter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 100%;
	height: 23rem;
	border-bottom: 1px solid var(--color-line);
}
.footer__newsletter h1 {
	text-align: center;
	font-size: 4.688rem;
	line-height: 4.688rem;
	letter-spacing: 0.469rem;
}

.footer__newsletter form {
	margin-top: 2.688rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--color-text);
}

.footer__newsletter input {
	width: 18.75rem;
	border: none;
	border-radius: 0;
	font-size: 0.75rem;
	line-height: 1.5rem;
	letter-spacing: 2px;
	font-weight: var(--font-regular);
	background-color: var(--color-secondary);
	color: var(--color-text);
	text-transform: uppercase;
}

.footer__newsletter button {
	border: none;
	border-radius: 0;
	font-size: 0.75rem;
	line-height: 1.5rem;
	letter-spacing: 2px;
	font-weight: var(--font-regular);
	background-color: var(--color-secondary);
	color: var(--color-text);
	text-transform: uppercase;
	cursor: pointer;
}

.footer__menu {
	display: grid;
	flex-direction: column;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
	border-bottom: 1px solid var(--color-line);
	grid-template-columns: repeat(4, 1fr);
	padding: 60px 120px;
	gap: 60px;
	letter-spacing: 2px;
}

.footer__menu ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	margin-bottom: 2rem;
	color: var(--color-dark-grey);
}

.footer__menu__items h2 {
	font-size: 0.75rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

.footer__bot {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 60px;
}

.footer__social {
	display: flex;
	align-items: center;
	gap: 1.188rem;
}

.footer__social ul {
	display: flex;
	list-style: none;
	align-items: center;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
	gap: 0.813rem;
}
