.menu {
	position: absolute;
	right: 60px;
	top: 667px;
	padding: 30px 60px 60px 60px;
	background-color: #fff;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.menu > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.menu ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 10px;
}

.color {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.options {
	position: relative;

	right: -30px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
